# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual studio files
_UpgradeReport_Files
Debug
ipch
*.aps
*.wrn
*.suo
*.sdf
*.user
*.opensdf
